extends layout

block content
  .container
    .page-header
      h1.text-center
        | IT Sentiments 
        small #Github, #Git, #js and #Nodejs
    .data-header
      .row
        .col-xs-12.col-md-6.col-lg-3#global-tweets
        .col-xs-12.col-md-6.col-lg-3#github-tweets
        .col-xs-12.col-md-6.col-lg-3#js-tweets
        .col-xs-12.col-md-6.col-lg-3#node-tweets
    hr
    #tweets.row
      .col1.col-md-4.col-xs-12
        #col1-stats
        #col1-tweets
      .col2.col-md-4.col-xs-12
        #col2-stats
        #col2-tweets
      .col3.col-md-4.col-xs-12
        #col3-stats
        #col3-tweets

block scripts
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/client.socket.io.js")